Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency testcontainers to v2.11.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.693.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency lerna to v3.22.1
  package.json
Due: none

⬆️ Update typescript-eslint monorepo to v3.2.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.694.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.695.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency fast-check to v1.25.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency @types/dockerode to v2.5.32
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.696.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update graphqlcodegenerator monorepo to v1.15.3
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: scrobble

⬆️ Update dependency sharp to v0.25.4
  packages/image-proxy/package.json
Due: none

⬆️ Update dependency testcontainers to v2.12.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency fast-check to v1.25.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.698.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency eslint to v7.3.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency ts-jest to v26.1.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update typescript-eslint monorepo to v3.4.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency eslint to v7.3.1
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency jest to v26.1.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.705.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.706.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/dockerode to v2.5.33
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

Path conditions:
  dragonstone: any of: packages/dragonstone/
  kingsguard: any of: packages/kingsguard/
  scheduler: any of: packages/scheduler/
  scrobble: any of: packages/scrobble/
  show-update: any of: packages/show-update/
  thetvdb: any of: packages/thetvdb/
  utils: any of: packages/utils/
  tmdb: any of: packages/tmdb/
