Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.600.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency sharp to v0.23.4
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

📝
  packages/image-proxy/example.env.yml
Due: none

⬆️
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

⬆️
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/dragonstone/src/data-sources/pg/episode/episode.loader.ts
  packages/dragonstone/src/data-sources/pg/episode/upcoming.loader.ts
  packages/dragonstone/src/data-sources/pg/history/hitsory.loader.ts
  packages/dragonstone/src/data-sources/pg/history/number-of-episodes-to-watch.loader.ts
  packages/dragonstone/src/data-sources/pg/show/show.loader.ts
  packages/dragonstone/src/data-sources/pg/util/data-loader.ts
Due: dragonstone

⬆️ Update dependency aws-lambda to v1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency dataloader to v2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency apollo-server-lambda to v2.9.16
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency ts-node to v8.6.0
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update dependency pg to v7.17.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.601.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency ts-node to v8.6.1
  packages/types/package-lock.json
  packages/types/package.json
Due: none

🏷️
  packages/dragonstone/__intergration_test__/test.ts
Due: dragonstone

⬆️ Update dependency ts-node to v8.6.2
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update typescript-eslint monorepo to v2.16.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.602.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.603.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/jest to v24.9.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency firebase-admin to v8.9.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.604.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency typescript to v3.7.5
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.605.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️
  packages/types/build.ts
  packages/types/package-lock.json
  packages/types/package.json
Due: none

🎨 ⚡️
  packages/dragonstone/__intergration_test__/setup-db.ts
  packages/dragonstone/__intergration_test__/test.ts
  packages/dragonstone/_serverless.yml
  packages/dragonstone/src/data-sources/pg/schema.ts
  packages/dragonstone/src/data-sources/pg/show/show.resolver.ts
  packages/dragonstone/src/data-sources/pg/titles/title.mappers.ts
  packages/dragonstone/src/data-sources/pg/titles/titles.resolver.ts
  packages/dragonstone/src/handler.ts
  packages/dragonstone/src/resolvers/root.ts
  packages/dragonstone/src/resolvers/type.ts
  packages/scheduler/env.example.yml
  packages/scheduler/src/config.ts
  packages/scheduler/src/dragonstone.util.ts
  packages/scheduler/src/handler.ts
  packages/show-update/src/dragonstone.util.ts
  packages/show-update/src/handler.ts
  packages/show-update/src/the-tv-db.util.ts
  packages/show-update/src/update-show.ts
  packages/types/dragonstone-schema/schema.graphql
  packages/types/dragonstone-schema/title.graphql
  packages/types/src/message/dragonstone/index.ts
  packages/types/src/message/dragonstone/next-to-update.ts
  packages/types/src/message/dragonstone/update-show-metadata.ts
  packages/types/src/message/show-update/update-show.ts
Due: dragonstone, scheduler, show-update

✨ Get a list of the oldest shows
  packages/dragonstone/__intergration_test__/setup-db.ts
  packages/dragonstone/__intergration_test__/test.ts
  packages/dragonstone/src/data-sources/pg/schema.ts
  packages/dragonstone/src/data-sources/pg/show/show.mapper.ts
  packages/dragonstone/src/data-sources/pg/titles/title.mappers.ts
  packages/dragonstone/src/data-sources/pg/titles/titles.resolver.ts
  packages/dragonstone/src/resolvers/root.ts
  packages/dragonstone/src/resolvers/type.ts
  packages/dragonstone/src/util/validate.ts
  packages/types/dragonstone-schema/schema.graphql
  packages/types/dragonstone-schema/show.graphql
  packages/types/dragonstone-schema/title.graphql
  packages/types/src/message/dragonstone/show-input.ts
Due: dragonstone

🎨 ✨ Add function to get the latest episodes
  packages/thetvdb/readme.md
  packages/thetvdb/src/__tests__/the-tv-db.test.ts
  packages/thetvdb/src/custom-erros.ts
  packages/thetvdb/src/index.ts
  packages/thetvdb/src/the-tv-db.ts
Due: thetvdb

🔧
  eh.code-workspace
Due: none

⬆️ Update dependency @types/node to v13.1.8
  packages/types/package-lock.json
  packages/types/package.json
Due: none

Path conditions:
  dragonstone: any of: packages/dragonstone/
  kingsguard: any of: packages/kingsguard/
  scheduler: any of: packages/scheduler/
  scrobble: any of: packages/scrobble/
  show-update: any of: packages/show-update/
  thetvdb: any of: packages/thetvdb/
  utils: any of: packages/utils/
  tmdb: any of: packages/tmdb/
