Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

codecov.yml:

flags:
  dragonstone:
    paths:
      - packages/dragonstone/
  kingsguard:
    paths:
      - packages/kingsguard/
  scheduler:
    paths:
      - packages/scheduler/
  scrobble:
    paths:
      - packages/scrobble/
  show-update:
    paths:
      - packages/show-update/
  thetvdb:
    paths:
      - packages/thetvdb/
  utils:
    paths:
      - packages/utils/
  tmdb:
    paths:
      - packages/tmdb/

⬆️ Update dependency typescript to v4.0.5
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency eslint to v7.12.1
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.780.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.781.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/node to v14.14.6
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: dragonstone, kingsguard, scheduler, scrobble

⬆️ Update dependency aws-sdk to v2.782.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update codecov/codecov-action action to v1.0.14
  .github/workflows/nodejs.yml
Due: none

⬆️ Update dependency aws-sdk to v2.783.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency jest to v26.6.2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update typescript-eslint monorepo to v4.6.1
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.784.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/jest-image-snapshot to v4.1.3
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

⬆️ Update dependency jest to v26.6.3
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency testcontainers to v5
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.785.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update graphqlcodegenerator monorepo
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: scrobble

⬆️ Update dependency @types/pg to v7.14.6
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.786.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.787.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency eslint to v7.13.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble
