Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

codecov.yml:

flags:
  dragonstone:
    paths:
      - packages/dragonstone/
  kingsguard:
    paths:
      - packages/kingsguard/
  scheduler:
    paths:
      - packages/scheduler/
  scrobble:
    paths:
      - packages/scrobble/
  show-update:
    paths:
      - packages/show-update/
  thetvdb:
    paths:
      - packages/thetvdb/
  utils:
    paths:
      - packages/utils/
  tmdb:
    paths:
      - packages/tmdb/

⬆️ Update dependency aws-sdk to v2.567.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency lerna to v3.18.4
  package-lock.json
  package.json
Due: none

⬆️ Update dependency aws-sdk to v2.568.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/aws-lambda to v8.10.35
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

⬆️ Update dependency @types/node to v12.12.7
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: dragonstone, kingsguard, scheduler, scrobble

⬆️ Update dependency ts-node to v8.5.0
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update typescript-eslint monorepo to v2.7.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.569.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.570.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/jest to v24.0.23
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.571.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

✨ Handle not found as OK error
  packages/show-update/src/handler.ts
Due: show-update

🐛
  packages/show-update/_serverless.yml
  packages/show-update/env.example.yml
Due: show-update

✨ make it possible to set custom timeout
  packages/thetvdb/readme.md
  packages/thetvdb/src/__tests__/the-tv-db.test.ts
  packages/thetvdb/src/the-tv-db.ts
Due: thetvdb

make image proxy private
  packages/image-proxy/package.json
Due: none

Publish
  packages/dragonstone/package.json
  packages/image-proxy/package.json
  packages/kingsguard/package.json
  packages/logger/package.json
  packages/scheduler/package.json
  packages/scrobble/package.json
  packages/show-update/package.json
  packages/thetvdb/package.json
  packages/tmdb/package.json
  packages/types/package.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency apollo-server-lambda to v2.9.9
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/kingsguard/package-lock.json
  packages/logger/package-lock.json
  packages/scheduler/package-lock.json
  packages/scrobble/package-lock.json
  packages/show-update/package-lock.json
  packages/thetvdb/package-lock.json
  packages/tmdb/package-lock.json
  packages/types/package-lock.json
  packages/utils/package-lock.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.572.0
  packages/dragonstone/package-lock.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/logger/package-lock.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/tmdb/package-lock.json
  packages/types/package-lock.json
  packages/utils/package-lock.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency ts-node to v8.5.2
  packages/types/package-lock.json
  packages/types/package.json
Due: none

🐛
  packages/show-update/src/the-tv-db.util.ts
Due: show-update

⚡️
  packages/dragonstone/src/handler.ts
Due: dragonstone

🐛 Extend the timeout when fetching information from thetvdb
  packages/show-update/src/the-tv-db.util.ts
Due: show-update

⚡️ Only update outdated shows
  packages/show-update/src/update-show.ts
Due: show-update

🐛
  packages/show-update/src/handler.ts
Due: show-update

🐛 Update invoke function
  packages/scheduler/invoke.js
  packages/scheduler/src/dragonstone.util.ts
  packages/scheduler/src/handler.ts
Due: scheduler

👽 genre can be null
  packages/thetvdb/src/types/the-tv-db-show.ts
Due: thetvdb

🔧
  eh.code-workspace
Due: none

👽 thetvdb name can be null
  packages/show-update/src/mapper.ts
  packages/thetvdb/src/types/the-tv-db-show.ts
Due: show-update, thetvdb
