Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency @types/dockerode to v2.5.30
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.687.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/dockerode to v2.5.31
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency @types/aws-lambda to v8.10.52
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

⬆️ Update dependency serverless to v1.72.0
  package-lock.json
  package.json
Due: none

⬆️ Update graphqlcodegenerator monorepo to v1.15.1
  packages/scrobble/package.json
  packages/types/package.json
Due: scrobble

⬆️ Update dependency apollo-server-lambda to v2.14.2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.690.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency sharp to v0.25.3
  packages/image-proxy/package.json
Due: none

⬆️ Update dependency typescript to v3.9.5
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency eslint to v7
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency jest to v26
  packages/dragonstone/package.json
  packages/image-proxy/package.json
  packages/kingsguard/package.json
  packages/scheduler/package.json
  packages/scrobble/package.json
  packages/show-update/package.json
  packages/thetvdb/package.json
  packages/tmdb/package.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update typescript-eslint monorepo to v3
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

🐛
  packages/scrobble/package-lock.json
  packages/types/dragonstone-schema/schema.graphql
  packages/types/dragonstone-schema/watched-episode.graphql
  packages/types/package-lock.json
Due: scrobble

🐛
  packages/dragonstone/src/data-sources/pg/episode/episode.mapper.ts
  packages/dragonstone/src/resolvers/root.ts
  packages/dragonstone/src/resolvers/type.ts
  packages/types/codegen.yml
  packages/types/extra-types.ts
Due: dragonstone

🐛
  packages/image-proxy/package-lock.json
Due: none

⬆️ Update dependency @types/aws-lambda to v8.10.53
  packages/dragonstone/package.json
  packages/hugin/package.json
  packages/image-proxy/package.json
  packages/kingsguard/package.json
  packages/logger/package.json
  packages/scheduler/package.json
  packages/scrobble/package.json
  packages/show-update/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

⬆️ Update dependency firebase-admin to v8.12.1
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency graphql to v15
  packages/dragonstone/package.json
  packages/scrobble/package.json
  packages/types/package.json
Due: dragonstone, scrobble

⬆️ Update dependency tslib to v2
  packages/dragonstone/package.json
Due: dragonstone

🔊
  packages/dragonstone/src/data-sources/pg/episode/episode.resolver.ts
Due: dragonstone

🐛 Calculate the popular shows in a better way
  packages/dragonstone/__intergration_test__/test.ts
  packages/dragonstone/package.json
  packages/dragonstone/src/data-sources/pg/show/show.resolver.ts
Due: dragonstone

🐛
  packages/dragonstone/src/data-sources/pg/episode/episode.resolver.ts
Due: dragonstone

⬆️
  packages/dragonstone/package-lock.json
  packages/scrobble/package-lock.json
Due: dragonstone, scrobble

🐛
  packages/dragonstone/package-lock.json
  packages/scrobble/package-lock.json
  packages/types/build.ts
  packages/types/package-lock.json
Due: dragonstone, scrobble

🐛
  packages/dragonstone/package-lock.json
  packages/image-proxy/package-lock.json
  packages/kingsguard/package-lock.json
  packages/scheduler/package-lock.json
  packages/scrobble/package-lock.json
  packages/show-update/package-lock.json
  packages/thetvdb/package-lock.json
  packages/tmdb/package-lock.json
  packages/utils/package-lock.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

🐛
  packages/dragonstone/package-lock.json
Due: dragonstone

🐛
  packages/scrobble/src/custom-error.ts
Due: scrobble

⬆️ Update dependency eslint to v7.2.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.691.0
  packages/hugin/package.json
  packages/image-proxy/package.json
  packages/scheduler/package.json
  packages/scrobble/package.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency eslint-plugin-graphql to v4
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

🐛
  packages/dragonstone/package-lock.json
  packages/hugin/package-lock.json
  packages/image-proxy/package-lock.json
  packages/kingsguard/package-lock.json
  packages/logger/package-lock.json
  packages/scheduler/package-lock.json
  packages/scrobble/package-lock.json
  packages/show-update/package-lock.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

🐛
  packages/hugin/package-lock.json
  packages/image-proxy/package-lock.json
  packages/scheduler/package-lock.json
  packages/scrobble/package-lock.json
  packages/show-update/package-lock.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.693.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

Path conditions:
  dragonstone: any of: packages/dragonstone/
  kingsguard: any of: packages/kingsguard/
  scheduler: any of: packages/scheduler/
  scrobble: any of: packages/scrobble/
  show-update: any of: packages/show-update/
  thetvdb: any of: packages/thetvdb/
  utils: any of: packages/utils/
  tmdb: any of: packages/tmdb/
