Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

codecov.yml:

flags:
  dragonstone:
    paths:
      - packages/dragonstone/
  kingsguard:
    paths:
      - packages/kingsguard/
  scheduler:
    paths:
      - packages/scheduler/
  scrobble:
    paths:
      - packages/scrobble/
  show-update:
    paths:
      - packages/show-update/
  thetvdb:
    paths:
      - packages/thetvdb/
  utils:
    paths:
      - packages/utils/
  tmdb:
    paths:
      - packages/tmdb/

⬆️ Update dependency aws-sdk to v2.749.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency serverless to v1.83.0
  package-lock.json
  package.json
Due: none

⬆️ Update dependency @types/node to v14.10.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: dragonstone, kingsguard, scheduler, scrobble

⬆️ Update dependency aws-sdk to v2.750.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency node-fetch to v2.6.1 [SECURITY]
  packages/logger/package-lock.json
  packages/thetvdb/package-lock.json
  packages/tmdb/package-lock.json
Due: thetvdb, tmdb

⬆️ Update dependency @types/node to v14.10.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: dragonstone, kingsguard, scheduler, scrobble

⬆️ Update dependency aws-sdk to v2.751.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency eslint to v7.9.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency testcontainers to v3.4.4
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update typescript-eslint monorepo to v4.1.1
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.752.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency testcontainers to v3.4.11
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency firebase-admin to v9.2.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency @types/node to v14.10.2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: dragonstone, kingsguard, scheduler, scrobble

⬆️ Update dependency aws-sdk to v2.753.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency serverless to v2
  package-lock.json
  package.json
Due: none

⬆️ Update dependency @types/pg to v7.14.5
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency @types/jest to v26.0.14
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.754.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/node to v14.10.3
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: dragonstone, kingsguard, scheduler, scrobble

⬆️ Update dependency serverless to v2.1.1
  package-lock.json
  package.json
Due: none

⬆️ Update dependency @types/node to v14.11.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: dragonstone, kingsguard, scheduler, scrobble

⬆️ Update dependency aws-sdk to v2.755.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency testcontainers to v3.5.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone
