Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency jest to v25.5.3
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.668.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency jest to v25.5.4
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency ts-node to v8.10.0
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update dependency ts-node to v8.10.1
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update typescript-eslint monorepo to v2.31.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.669.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/node to v13.13.5
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update dependency aws-sdk to v2.670.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.671.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.672.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.673.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency ts-jest to v25.5.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update typescript-eslint monorepo to v2.32.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.674.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.675.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency typescript to v3.9.2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update typescript-eslint monorepo to v2.33.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency lerna to v3.21.0
  package-lock.json
  package.json
Due: none

⬆️ Update dependency @types/jest to v25.2.2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.676.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

Path conditions:
  dragonstone: any of: packages/dragonstone/
  kingsguard: any of: packages/kingsguard/
  scheduler: any of: packages/scheduler/
  scrobble: any of: packages/scrobble/
  show-update: any of: packages/show-update/
  thetvdb: any of: packages/thetvdb/
  utils: any of: packages/utils/
  tmdb: any of: packages/tmdb/
