Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.623.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency tslib to v1.11.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency typescript to v3.8.2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.624.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/aws-lambda to v8.10.44
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

⬆️ Update dependency @types/jest to v25
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency testcontainers to v2.5.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

🔧
  eh.code-workspace
  package.json
Due: none

✨ Add a tracker to the logger
  packages/hugin/Makefile
  packages/hugin/_serverless.yml
  packages/hugin/env.example.yml
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/hugin/readme.md
  packages/hugin/src/handler.ts
  packages/hugin/tsconfig.build.json
  packages/hugin/tsconfig.json
  packages/kingsguard/src/__tests__/guard.test.ts
  packages/kingsguard/src/guard.ts
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/logger/src/analytics.ts
  packages/logger/src/index.ts
Due: kingsguard

Publish
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency apollo-server-lambda to v2.10.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
Due: dragonstone

⬆️ Update dependency sharp to v0.24.1
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

🐛
  packages/logger/src/analytics.ts
Due: none

🐛
  packages/hugin/Makefile
  packages/hugin/env.example.yml
  packages/hugin/src/handler.ts
Due: none

📝 🔧
  packages/scheduler/_serverless.yml
  packages/scheduler/readme.md
Due: scheduler

🔊
  packages/scheduler/src/handler.ts
Due: scheduler

🔊
  packages/scheduler/src/handler.ts
  packages/show-update/src/handler.ts
Due: scheduler, show-update

🐛
  packages/scheduler/__mocks__/@episodehunter/kingsguard.ts
Due: scheduler

✨
  packages/logger/invoke.js
Due: none

Publish
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

⬆️ Update dependency testcontainers to v2.6.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
Due: dragonstone

🔥
  package.json
Due: none

🐛
  packages/scheduler/env.example.yml
  packages/scheduler/src/config.ts
  packages/scheduler/src/handler.ts
  packages/show-update/env.example.yml
  packages/show-update/src/config.ts
  packages/show-update/src/handler.ts
Due: scheduler, show-update

⬆️ Update dependency testcontainers to v2.6.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update typescript-eslint monorepo to v2.21.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.625.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/node-fetch to v2.5.5
  packages/logger/package-lock.json
  packages/logger/package.json
Due: none

🔊
  packages/dragonstone/__intergration_test__/test.ts
  packages/dragonstone/env.example.yml
  packages/dragonstone/src/config.ts
  packages/dragonstone/src/handler.ts
  packages/dragonstone/src/resolvers/root.ts
  packages/scrobble/__mocks__/@episodehunter/kingsguard.ts
  packages/scrobble/env.example.yml
  packages/scrobble/src/config.ts
  packages/scrobble/src/handler.ts
Due: dragonstone, scrobble

🔧
  packages/dragonstone/_serverless.yml
  packages/scrobble/Makefile
  packages/scrobble/_serverless.yml
Due: dragonstone, scrobble

⬆️ Update dependency @types/dockerode to v2.5.24
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency @types/node to v13.7.5
  packages/types/package-lock.json
  packages/types/package.json
Due: none

Path conditions:
  dragonstone: any of: packages/dragonstone/
  kingsguard: any of: packages/kingsguard/
  scheduler: any of: packages/scheduler/
  scrobble: any of: packages/scrobble/
  show-update: any of: packages/show-update/
  thetvdb: any of: packages/thetvdb/
  utils: any of: packages/utils/
  tmdb: any of: packages/tmdb/
