Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

codecov.yml:

flags:
  dragonstone:
    paths:
      - packages/dragonstone/
  kingsguard:
    paths:
      - packages/kingsguard/
  scheduler:
    paths:
      - packages/scheduler/
  scrobble:
    paths:
      - packages/scrobble/
  show-update:
    paths:
      - packages/show-update/
  thetvdb:
    paths:
      - packages/thetvdb/
  utils:
    paths:
      - packages/utils/
  tmdb:
    paths:
      - packages/tmdb/

⬆️ Update graphqlcodegenerator monorepo to v1.11.2
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.606.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

🐛
  packages/dragonstone/src/data-sources/pg/show/show.mapper.ts
Due: dragonstone

⚡️
  packages/dragonstone/Makefile
Due: dragonstone

Publish
  packages/dragonstone/package.json
  packages/image-proxy/package.json
  packages/kingsguard/package.json
  packages/logger/package.json
  packages/scheduler/package.json
  packages/scrobble/package.json
  packages/show-update/package.json
  packages/thetvdb/package.json
  packages/tmdb/package.json
  packages/types/package.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️
  packages/dragonstone/package-lock.json
  packages/image-proxy/package-lock.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scrobble/package-lock.json
  packages/show-update/package-lock.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⚡️ Only get the latest 50 episodes for updates
  packages/show-update/src/update-show.ts
Due: show-update

⚡️
  packages/scheduler/Makefile
  packages/scheduler/_serverless.yml
Due: scheduler

⚡️
  packages/scheduler/__mocks__/aws-sdk.ts
  packages/scheduler/__mocks__/graphql-request.ts
  packages/scheduler/_serverless.yml
  packages/scheduler/env.example.yml
  packages/scheduler/package.json
  packages/scheduler/src/__tests__/dragonstone-show-update-handler.ts
  packages/scheduler/src/__tests__/update-handler.ts
  packages/scheduler/src/config.ts
  packages/scheduler/src/dragonstone.util.ts
  packages/scheduler/src/handler.ts
  packages/scheduler/src/the-tv-db.util.ts
  packages/scheduler/src/types.ts
Due: scheduler

🐛
  packages/scheduler/_serverless.yml
Due: scheduler

🎨
  package-lock.json
  package.json
Due: none

🔧
  packages/dragonstone/Makefile
  packages/dragonstone/_serverless.yml
Due: dragonstone

🔊
  packages/dragonstone/src/handler.ts
Due: dragonstone

⚡️
  packages/kingsguard/package.json
  packages/logger/package.json
Due: kingsguard

⚡️
  packages/scheduler/Makefile
  packages/scheduler/_serverless.yml
  packages/show-update/Makefile
  packages/show-update/_serverless.yml
Due: scheduler, show-update

🐛
  packages/scheduler/src/handler.ts
  packages/show-update/__mocks__/@episodehunter/thetvdb.ts
  packages/show-update/env.example.yml
  packages/show-update/src/config.ts
  packages/show-update/src/dragonstone.util.ts
Due: scheduler, show-update

🔊
  packages/show-update/src/handler.ts
Due: show-update

⚡️
  .github/workflows/nodejs.yml
Due: none

🎨
  eh.code-workspace
Due: none

⬆️ Pin dependency serverless to 1.61.2
  package.json
  packages/scheduler/package-lock.json
Due: scheduler

🎨
  packages/dragonstone/src/util/__test__/validate.test.ts
  packages/dragonstone/src/util/validate.ts
Due: dragonstone

⬆️ Update dependency @types/aws-lambda to v8.10.40
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.607.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update typescript-eslint monorepo to v2.17.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency serverless to v1.61.3
  package-lock.json
  package.json
Due: none

⬆️ Update dependency aws-sdk to v2.608.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency testcontainers to v2.3.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency jest to v25
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency @types/jest to v24.9.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency @types/node to v13.5.0
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update dependency aws-sdk to v2.609.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency firebase-admin to v8.9.2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone
