Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency @types/node to v13.9.8
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update dependency aws-sdk to v2.650.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/aws-lambda to v8.10.47
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

⬆️ Update dependency fast-check to v1.24.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency aws-sdk to v2.651.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency fast-check to v1.24.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency jest to v25.2.6
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency @types/node to v13.11.0
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update dependency @types/jest to v25.1.5
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.652.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency jest to v25.2.7
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency testcontainers to v2.7.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency ts-jest to v25.3.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency aws-sdk to v2.653.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/jest to v25.2.1
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency ts-node to v8.8.2
  packages/types/package-lock.json
  packages/types/package.json
Due: none

⬆️ Update typescript-eslint monorepo to v2.27.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.654.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency aws-sdk to v2.655.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency jest to v25.3.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

⬆️ Update dependency @types/aws-lambda to v8.10.48
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update

Path conditions:
  dragonstone: any of: packages/dragonstone/
  kingsguard: any of: packages/kingsguard/
  scheduler: any of: packages/scheduler/
  scrobble: any of: packages/scrobble/
  show-update: any of: packages/show-update/
  thetvdb: any of: packages/thetvdb/
  utils: any of: packages/utils/
  tmdb: any of: packages/tmdb/
