Repository episodehunter/episodehunter: changes, and which Codecov flags are due for each by the changed paths.
All: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

codecov.yml:

flags:
  dragonstone:
    paths:
      - packages/dragonstone/
  kingsguard:
    paths:
      - packages/kingsguard/
  scheduler:
    paths:
      - packages/scheduler/
  scrobble:
    paths:
      - packages/scrobble/
  show-update:
    paths:
      - packages/show-update/
  thetvdb:
    paths:
      - packages/thetvdb/
  utils:
    paths:
      - packages/utils/
  tmdb:
    paths:
      - packages/tmdb/

⬆️ Update dependency eslint to v7.5.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency testcontainers to v2.20.0
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update typescript-eslint monorepo to v3.7.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.716.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/node to v14.0.24
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

⬆️ Update dependency aws-sdk to v2.717.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/sharp to v0.25.1
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

⬆️ Update dependency aws-sdk to v2.718.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency testcontainers to v3
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency jest-image-snapshot to v4.1.0
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

⬆️ Update graphqlcodegenerator monorepo to v1.17.4
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: scrobble

⬆️ Update dependency aws-sdk to v2.719.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/node to v14.0.25
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

⬆️ Update dependency aws-sdk to v2.720.0
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scheduler, scrobble, show-update

⬆️ Update dependency @types/node to v14.0.26
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
Due: none

⬆️ Update dependency fast-check to v2
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
Due: dragonstone

✨
  packages/dragonstone/__intergration_test__/test.ts
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/dragonstone/src/resolvers/root.ts
  packages/types/dragonstone-schema/next-to-watch.graphql
  packages/types/package-lock.json
  packages/types/package.json
Due: dragonstone

🎨 Publish
  packages/dragonstone/package-lock.json
  packages/dragonstone/package.json
  packages/hugin/package-lock.json
  packages/hugin/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/types/package-lock.json
  packages/types/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb

🤷‍♂️
  packages/kingsguard/package.json
  packages/logger/package.json
  packages/thetvdb/package.json
  packages/tmdb/package.json
  packages/types/package.json
  packages/utils/package.json
Due: kingsguard, thetvdb, utils, tmdb

⬆️ Update dependency graphql to v15.3.0
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
Due: scrobble

🐛
  packages/dragonstone/Makefile
  packages/dragonstone/package-lock.json
  packages/dragonstone/src/util/pg.ts
Due: dragonstone

⬆️ Update dependency apollo-server-lambda to v2.16.1
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency graphql-request to v3
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
Due: scrobble, show-update

⬆️ Update dependency tslib to v2.0.1
  packages/dragonstone/package.json
Due: dragonstone

⬆️ Update dependency ts-jest to v26.2.0
  packages/dragonstone/package.json
  packages/image-proxy/package-lock.json
  packages/image-proxy/package.json
  packages/kingsguard/package-lock.json
  packages/kingsguard/package.json
  packages/scheduler/package-lock.json
  packages/scheduler/package.json
  packages/scrobble/package-lock.json
  packages/scrobble/package.json
  packages/show-update/package-lock.json
  packages/show-update/package.json
  packages/thetvdb/package-lock.json
  packages/thetvdb/package.json
  packages/tmdb/package-lock.json
  packages/tmdb/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: dragonstone, kingsguard, scheduler, scrobble, show-update, thetvdb, utils, tmdb
